@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

/* Colors */
:root {
  --white: #f9f9f9;
  --green: #628e75;
  --gradient: linear-gradient(270deg, #1a4855 0%, #628e75 100%);
}
/* Padrões */

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: var(--gradient);
}

a {
  text-transform: uppercase;
  color: var(--white);
}

header {
  display: flex;
  margin: 0 auto;
  padding: 40px 25px;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}

header img {
  max-width: 150px;
}

header ul {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
}

@media (max-width: 1020px) {
  header {
    padding: 20px 25px;
  }
}

.container {
  max-width: 1440px;
  margin: 60px auto;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
}

.content {
  color: var(--white);
}

.content span {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 14px;
  line-height: 30px;
}

.content h1 {
  max-width: 9ch;
  font-size: 4.25rem;
  line-height: 74px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 25px;
}

.content p {
  max-width: 44ch;
  font-size: 1rem;
  font-weight: 400;
  line-height: 29px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.btn a {
  transform: skewX(-15deg);
}

.btn-now > div {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 34px;
  background: var(--green);
}

.btn-now img {
  display: inline-block;
}

.btn-trailer {
  background: transparent;
  border: 2px solid var(--green);
  padding: 8px 34px;
}

.illustration {
  width: 100%;
  height: 100%;
  max-width: 500px;
  object-fit: cover;
  animation: floating 8s linear infinite;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0rem);
  }
  25% {
    transform: translateY(3rem);
  }
  75% {
    transform: translateY(-3rem);
  }
}

@media (max-width: 1020px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 0px;
  }
  .content span {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 6px;
  }
  .content h1 {
    font-size: 3.5rem;
    margin-bottom: 16px;
  }
  .content p {
    font-size: 0.875rem;
    margin-bottom: 58px;
  }
  .illustration {
    grid-row: 1;
  }
  .btn-trailer {
    display: none;
  }
  @keyframes floating {
    0%,
    100% {
      transform: translateY(0rem);
    }
    25% {
      transform: translateY(1rem);
    }
    75% {
      transform: translateY(-1rem);
    }
  }
}

@media (max-width: 464px) {
  @keyframes floating {
    0%,
    100% {
      transform: translateY(0rem);
    }
    25% {
      transform: translateY(0.5rem);
    }
    75% {
      transform: translateY(-0.5rem);
    }
  }
}
