@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=IBM+Plex+Mono:wght@400;500;600;700&family=Josefin+Sans:wght@700&display=swap');
/*Variáveis: Cores */
:root {
  --purple: #873eff;
  --green: #04d361;
  --dark: #0e091b;
  --dark-200: #171228;
  --gray: #aeaeae;
  --light: #f9f9f9;
}

/*
  font-family: 'DM Sans', sans-serif;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Josefin Sans', sans-serif;
*/

/* Padrões */
body {
  background: var(--dark);
  font-family: 'IBM Plex Mono', monospace;
  color: var(--light);
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 60px 20px;
}

.btn {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* -------------------------- */

/* Header */
.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.header-logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

.header-logo span {
  color: var(--purple);
}

.header-menu {
  align-items: center;
  display: flex;
  gap: 62px;
}

.btn-github {
  font-size: 1.7rem;
  letter-spacing: 0.01em;
  padding: 10px;
  border-radius: 6px;
}

.btn-discord {
  padding: 20px 25px;
  border: 1px solid var(--purple);
  border-radius: 6px;
}

.btn-discord:hover {
  background: var(--purple);
}

@media (max-width: 847px) {
  .header {
    flex-direction: column;
    gap: 40px;
  }
  .header-menu {
    flex-direction: column;
    gap: 20px;
  }
  .btn-github {
    padding: 20px 40px;
    background: var(--dark-200);
  }
}

/* Introduction */

.intro {
  padding: 39px 20px;
}

.intro span {
  color: var(--green);
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 1.25rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.intro h1 {
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 1.302;
  margin-bottom: 30px;
}

.intro p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.7;
  color: var(--gray);
  max-width: 48ch;
}

@media (max-width: 847px) {
  .intro span {
    font-size: 2rem;
    line-height: 1.302;
    letter-spacing: 0.05em;
    margin-bottom: 12px;
  }

  .intro h1 {
    font-size: 4.8rem;
    line-height: 1.302;
    margin-bottom: 32px;
  }

  .intro p {
    font-size: 1.8rem;
    line-height: 1.7;
    max-width: 48ch;
  }
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 40px 26px;
  margin-top: 8px;
}

.project {
  padding: 24px;
  background: var(--dark-200);
  border-radius: 8px;
  border: 1px solid var(--purple);
  margin-bottom: 21px;
}

.preject-imagem {
  max-width: 90%;
  height: 222px;
  margin-bottom: 24px;
}

.project h2 {
  font-size: 2.4rem;
  line-height: 1.302;
  font-weight: 500;
  color: var(--light);
  margin-top: 15px;
  margin-bottom: 15px;
}

.project p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.7;
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 48px;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.btn-demo {
  color: var(--dark);
  padding: 11px 60px;
  background: var(--green);
  border-radius: 4px;
}

.btn-git {
  color: var(--light);
  padding: 11px 55px;
  border: 1px solid var(--green);
  border-radius: 4px;
}

.btn-demo:hover {
  background: #00c056;
}

.btn-git:hover {
  background: #0e091b;
}

@media (max-width: 847px) {
  .project {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .project h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .project p {
    font-size: 1.6rem;
    margin-bottom: 32px;
  }
  .project-links {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .btn-demo,
  .btn-git {
    width: 100%;
    text-align: center;
  }
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  color: var(--purple);
}

.footer-credit {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--gray);
}

.footer-credit a:hover {
  color: var(--green);
}

@media (max-width: 847px) {
  .footer-credit {
    font-size: 1.6rem;
    gap: 32px;
  }
}

@media (max-width: 458px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
