/* ------ Fontes ------ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* ------ Variáveis ------ */
:root {
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;

  --white: #fff;

  --title: #181818;
  --text: #474747;
}

/* ------ Resets ------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------ Configurações básicas ------ */

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--white);

  width: 100%;
  height: auto;
}

/* ------ Header ------ */

.desconto {
  align-items: center;
  background-color: var(--title);
  color: var(--white);
  display: flex;
  height: 60px;
  justify-content: center;
}

.desconto > p {
  font-size: 16px;
  font-weight: 500;
}

.titulo {
  align-items: center;
  height: 60px;
  display: flex;
  justify-content: center;
}

header {
  height: 378px;
  min-height: 400px;
  background-image: url('../src/img/wallpaper.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__bg {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.header__infos {
  color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding: 10%;
}

.header__infos > h1 {
  padding-bottom: 19px;
}

.header__infos > p {
  line-height: 35.31px;
}

/*------ Body ------*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px auto;
  background-color: var(--bgSite);
}

.container__destaques {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 30px;
  margin-bottom: 30px;
}

.container__destaques > h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 10px;
}

.container__destaques > p {
  color: var(--text);
  margin-bottom: 10px;
}

.grid__tenis {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px 13px;
}
.card {
  background-color: var(--bgCard);
  width: 300px;
  height: 300px;
}

.card__img > img {
  margin: 76px 25px 76px 25px;
  height: 150px;
  width: 250px;
}

footer {
  background: var(--title);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__text {
  color: var(--white);
}

.footer__text > a {
  color: var(--white);
  text-decoration: none;
}

.footer__text > a:hover {
  color: var(--text);
}

/*------ Responsive ------*/
@media (max-width: 480px) {
  .header__infos {
    width: 100%;
    padding: auto 20px;
  }

  .header__infos > h1 {
    font-size: 28px;
    padding-bottom: 12px;
  }

  .header__infos > p {
    font-size: 16px;
    line-height: 28.8px;
  }

  .container__destaques {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
  }

  .card {
    width: 374px;
    height: 300px;
  }

  .card__img > img {
    margin: 76px 62px 76px 62px;
    height: 150px;
    width: 250px;
  }

  .footer__text {
    font-size: 18px;
    margin: 15px 77px;
  }
}
