@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root {
  --red-light: #ff4656;
  --dark: #1f2326;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 1440px;
  width: 100%;
  color: var(--white);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 34px;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1285px;
  margin-bottom: 15px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 180px;
  width: 90%;
  max-width: 1285px;
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main_title {
  color: transparent;
  font-weight: 700;
  font-size: 56px;
  line-height: 76px;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--white);
}

.agents_group {
  display: flex;
  flex-direction: row;
  gap: 28px;
  margin-bottom: 20px;
}

.agent_name {
  margin-top: 10px;
  color: var(--red-light);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-align: center;
}

.share_links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share_links ul {
  display: flex;
  position: absolute;
  bottom: 0;

  flex-direction: row;
  list-style: none;
  gap: 43px;
}

.secondary_container img {
  height: 100%;
  width: 503px;
}

/* ---- Responsive  ---- */

@media screen and (max-width: 767px) {
  main {
    grid-template-columns: 1fr;
  }

  .container {
    margin: 32px 24px;
  }

  header h2 {
    display: none;
  }

  .main_title {
    display: none;
  }

  .secondary_container img {
    display: none;
  }

  .agents_group {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .agents_group img {
    width: 129px;
    height: 129px;
  }

  .agent_name {
    margin-top: 4px;
  }

  .share_links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
